<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Cat Assessment System</title>
  <base href="/" />
</head>

<body>
    <div id="app-root"></div>
    <script src="/js/app.bundle.js"></script>
</body>

</html>